In [14]:
import pandas as pd
import re
pd.set_option('display.max_columns', None)

In [15]:
from src.myfunctions import Clean as mfc

In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [121]:
main_player =  'Nadal R.'

In [122]:
df = pd.read_csv('data/kaggle_dataset/Data.csv', engine='python')

In [123]:
df = df.iloc[:,0:26] #rest of columns are related to bets.

In [124]:
df = mfc.filter_games(df, main_player) #filter games with main player in match

In [125]:
df['Opponent'] = df.apply(lambda x: mfc.set_opponent(x,main_player), axis = 1) #to specify opponent

In [126]:
df['Is_winner'] = df.Winner.apply(lambda x: mfc.is_winner(x, main_player)) #to specify if main player won or not

In [263]:
surname_dict_count = df_1.name.apply(lambda x: x.rsplit(' ',1)[-1]).value_counts().to_dict()

In [264]:
def match_single_surname(name, df_1, surname_dict_count):
    

    name = name.split(' ',1)[0]

    cond = (name in surname_dict_count) and (surname_dict_count.get(name) == 1)   

    if cond:
        match_name = df_1[df_1["name"].str.find(name) > 0].name.to_list()[0]
        return match_name
    else:
        return 'No match'

In [265]:
df['matched'] = df.Opponent.apply(lambda x: match_single_surname(x, df_1,surname_dict_count))

In [266]:
name_surname_dict = df_1.name.apply(lambda x: x.split(' ',1)[1]+' '+x.split(' ',1)[0][0]+'.').value_counts().to_dict()

In [267]:
def match_name_surname(row, df_1, name_surname_dict):
    name = row['Opponent']
    if (name in name_surname_dict) and (name_surname_dict.get(name) == 1):
        
        surname = name.split(' ',1)[0]
        initial = name.split(' ',1)[1].rsplit('.',1)[0]
        
        for player in df_1['name'].to_list():
            cond =  len(re.findall(r'\b' + re.escape(initial)+'.*'+re.escape(surname), player)) > 0
            
            if cond:
                
                return player
            else:
                pass

    else:
        return 'No match'

In [268]:
df['matched1'] = df.apply(lambda x: match_name_surname(x, df_1,name_surname_dict) if x.matched == 'No match' else x.matched, axis = 1)

In [269]:
df.matched1.value_counts()

No match          266
Novak Djokovic     47
Roger Federer      34
David Ferrer       30
Andy Murray        25
                 ...
Daniel Brands       1
Jan Hernych         1
Dusan Lajovic       1
Samuel Groth        1
Di Wu               1
Name: matched1, Length: 135, dtype: int64

In [270]:
df.Opponent.nunique()

248

In [271]:
df[df.matched1=='No match'].Opponent.value_counts()

Del Potro J.M.    12
Gonzalez F.        9
Ljubicic I.        9
Ferrero J.C.       9
Soderling R.       8
                  ..
Costa A.           1
Wang Y.T.          1
Gimelstob J.       1
De Voest R.        1
Sluiter R.         1
Name: Opponent, Length: 107, dtype: int64

In [186]:
df_1.columns

Index(['Age', 'Country', 'Birthplace', 'Residence', 'Height', 'Weight',
       'Plays', 'Backhand', 'Favorite Surface', 'Coach', 'Turned Pro',
       'Seasons', 'Active', 'Prize Money', 'Wikipedia', 'Web Site', 'Facebook',
       'Twitter', 'Nicknames', 'Ace %', 'Double Fault %', '1st Serve %',
       '1st Serve Won %', '2nd Serve Won %', 'Break Points Saved %',
       'Service Points Won %', 'Service Games Won %', 'Ace Against %',
       'Double Fault Against %', '1st Srv. Return Won %',
       '2nd Srv. Return Won %', 'Break Points Won %', 'Return Points Won %',
       'Return Games Won %', 'Points Dominance', 'Games Dominance',
       'Break Points Ratio', 'Total Points Won %', 'Games Won %', 'Sets Won %',
       'Matches Won %', 'Match Time', 'name', 'Retired', 'Total Games Played',
       'Total Games Won', 'Games per Set', 'Games per Match',
       'Tie-Breaks Played', 'Tie-Breaks Won', 'Tie-Breaks Won %',
       'Tie-Breaks per Set %', 'Tie-Breaks per Match'],
      dtype='object')

In [ ]:

col_names_fixed = list(map(mfc.clean_col_names,list(df.columns)))
rename_col_dict = {col: col_names_fixed[i] for i, col in enumerate(df.columns)}
df = df.rename(columns = rename_col_dict )

In [238]:
players_info_path = 'data/scraped_dataset/players_info.json'

In [256]:
df_1 = pd.read_json(players_info_path)

In [257]:
df_1.Height = df_1.Height.apply(lambda x: str(x).replace('cm','').strip())

In [258]:
df_1.Weight = df_1.Weight.apply(lambda x: str(x).replace('kg','').strip())

In [259]:
df_1 = df_1.apply(lambda x: [str(elem).replace('%','').strip() if '%' in str(elem) else elem for elem in x ])

In [260]:
df_1[columns_num] = df_1[columns_num].apply(lambda x: [ None if ele =='' else float(ele) if ele != None else None for ele in x])

In [261]:
ace_threshold = df_1['Ace %'].quantile(0.85)

In [262]:
df_1['great_serve'] = df_1['Ace %'].dropna().apply(lambda x: True if float(x) > ace_threshold else False)

In [246]:
df_1.columns

Index(['Age', 'Country', 'Birthplace', 'Residence', 'Height', 'Weight',
       'Plays', 'Backhand', 'Favorite Surface', 'Coach', 'Turned Pro',
       'Seasons', 'Active', 'Prize Money', 'Wikipedia', 'Web Site', 'Facebook',
       'Twitter', 'Nicknames', 'Ace %', 'Double Fault %', '1st Serve %',
       '1st Serve Won %', '2nd Serve Won %', 'Break Points Saved %',
       'Service Points Won %', 'Service Games Won %', 'Ace Against %',
       'Double Fault Against %', '1st Srv. Return Won %',
       '2nd Srv. Return Won %', 'Break Points Won %', 'Return Points Won %',
       'Return Games Won %', 'Points Dominance', 'Games Dominance',
       'Break Points Ratio', 'Total Points Won %', 'Games Won %', 'Sets Won %',
       'Matches Won %', 'Match Time', 'name', 'Retired', 'Total Games Played',
       'Total Games Won', 'Games per Set', 'Games per Match',
       'Tie-Breaks Played', 'Tie-Breaks Won', 'Tie-Breaks Won %',
       'Tie-Breaks per Set %', 'Tie-Breaks per Match', 'great_serve'],
      dtype='object')

In [228]:
df_1.shape

(800, 54)

## MERGE

In [206]:
df_players_merge = df_1[['name','Country','Plays', 'Backhand', 'great_serve']]

In [207]:
df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets',
       'Comment', 'Opponent', 'Is_winner', 'matched', 'matched1'],
      dtype='object')

In [209]:
df.Round.value_counts()

2nd Round        210
Quarterfinals    169
3rd Round        145
Semifinals       134
1st Round        118
The Final        100
4th Round         53
Round Robin       21
Name: Round, dtype: int64

In [210]:
df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,Opponent,Is_winner,matched,matched1
9680,23,Monte Carlo,Monte Carlo Masters,15/04/2003,Masters,Outdoor,Clay,1st Round,3,Nadal R.,Kucera K.,109,49,6.0,1.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,Kucera K.,True,No match,No match
9694,23,Monte Carlo,Monte Carlo Masters,16/04/2003,Masters,Outdoor,Clay,2nd Round,3,Nadal R.,Costa A.,109,7,7.0,5.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,Costa A.,True,No match,No match
9704,23,Monte Carlo,Monte Carlo Masters,17/04/2003,Masters,Outdoor,Clay,3rd Round,3,Coria G.,Nadal R.,26,109,7.0,6.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,Coria G.,False,Federico Coria,Federico Coria
9738,24,Barcelona,Open Seat Godo,22/04/2003,International Gold,Outdoor,Clay,1st Round,3,Nadal R.,Marin J.A.,96,137,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,Retired,Marin J.A.,True,No match,No match
9753,24,Barcelona,Open Seat Godo,23/04/2003,International Gold,Outdoor,Clay,2nd Round,3,Corretja A.,Nadal R.,17,96,3.0,6.0,6.0,2.0,6.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,Corretja A.,False,No match,No match

In [215]:
df_games_merge = df.drop(['Winner', 'Loser', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5','Comment'], axis = 1)

In [216]:
df_games_merge

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,WRank,LRank,Wsets,Lsets,Opponent,Is_winner,matched,matched1
9680,23,Monte Carlo,Monte Carlo Masters,15/04/2003,Masters,Outdoor,Clay,1st Round,3,109,49,2.0,0.0,Kucera K.,True,No match,No match
9694,23,Monte Carlo,Monte Carlo Masters,16/04/2003,Masters,Outdoor,Clay,2nd Round,3,109,7,2.0,0.0,Costa A.,True,No match,No match
9704,23,Monte Carlo,Monte Carlo Masters,17/04/2003,Masters,Outdoor,Clay,3rd Round,3,26,109,2.0,0.0,Coria G.,False,Federico Coria,Federico Coria
9738,24,Barcelona,Open Seat Godo,22/04/2003,International Gold,Outdoor,Clay,1st Round,3,96,137,1.0,0.0,Marin J.A.,True,No match,No match
9753,24,Barcelona,Open Seat Godo,23/04/2003,International Gold,Outdoor,Clay,2nd Round,3,17,96,2.0,1.0,Corretja A.,False,No match,No match
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46412,50,Cincinnati,Western & Southern Financial Group Masters,18/08/2016,Masters 1000,Outdoor,Hard,3rd Round,3,49,5,2.0,0.0,Coric B.,False,Borna Coric,Borna Coric
46484,52,New York,US Open,29/08/2016,Grand Slam,Outdoor,Hard,1st Round,5,5,107,3.0,0.0,Istomin D.,True,Denis Istomin,Denis Istomin
46550,52,New York,US Open,1/09/2016,Grand Slam,Outdoor,Hard,2nd Round,5,5,87,3.0,0.0,Seppi A.,True,Andreas Seppi,Andreas Seppi
46574,52,New York,US Open,3/09/2016,Grand Slam,Outdoor,Hard,3rd Round,5,5,47,3.0,0.0,Kuznetsov An.,True,No match,No match
46585,52,New York,US Open,4/09/2016,Grand Slam,Outdoor,Hard,4th Round,5,25,5,3.0,2.0,Pouille L.,False,Lucas Pouille,Lucas Pouille